/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Header */
header {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  position: relative;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 100px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;

}

.title {
  margin-top: 10px;
  font-size: 24px;
}

/* Train Background Section */
.train-bg {
  background: url('https://www.ncl.com/sites/default/files/1920x400-oahu-hawaii-cruise-crouching-lion-hike-rock_0.jpg') no-repeat center center/cover;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;

}

.hidden {
  display: none;
}

#booking-form {
  background: rgba(0,0,0,0.6);
  padding: 20px;
  border-radius: 10px;
  margin-top: 10px;
  color: white;
}

label {
  display: block;
  margin: 10px 0;
}

/* Holiday Section */
#holiday {
  padding:100px;
  text-align: center;
  background-color: #f3e6ff;
}

.slider {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding: 10px;
}

.slider img {
  height: 150px;
  border-radius: 10px;
}

/* About Us */
.about-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  align-items: center;
  
  background-color: #f3e6ff;
}

.about-container img {
  width: 40%;
  border-radius: 10px;
}

.about-text {
  width: 50%;
}

/* Services */
#services {
  background-color: #2e8b57;
  padding: 20px;
  text-align: center;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  margin-top: 20px;
}

.service-item {
  background-color:white;
  padding: 20px;
  border-radius: 10px;
}

/* Contact */
#contact {
  background: #333;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}
  .train-style {
      color: black;
      background-color: #E5989B;
      padding: 15px;
      margin-bottom: 10px;
      border-radius: 6px;
    }
 .popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-box {
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  width: 280px;
  text-align: center;
}

.popup-box input {
  width: 90%;
  padding: 6px;
}
.close-btn {
  position: absolute;
  top: 8px;
  right: 15px;
  font-size: 24px;
  font-weight: bold;
  color: #555;
  cursor: pointer;
}

.close-btn:hover {
  color: red;
}
.popup-box {
  position: relative;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}
